html, body {
  width: 100%;
  height: 100%;
  font-family: $sans;
  line-height: 1.5;
  color: #333;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: $accent;

  &:hover {
    color: $accent-hover;
    img {
      opacity: 0.8;
    }
  }
}

p {
  word-wrap: break-word;
}

ol, ul, li {
  list-style: none;
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

blockquote {
  margin: 2rem 0 2rem -2.2rem;
  padding: 0 0 0 2rem;
  border-left: $primary 0.5rem solid;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: bold;
}


.content-col ul {
  margin-bottom: 2rem;
  ul {
    margin-bottom: 1rem;
    margin-left: 4rem;
  }
  ol {
    margin-bottom: 1rem;
    margin-left: 4rem;
  }
  li {
      list-style-type: disc;
      list-style-position: outside;
  }
}
.content-col ol {
  margin-bottom: 2rem;
  ul {
    margin-bottom: 1rem;
    margin-left: 4rem;
  }
  ol {
    margin-bottom: 1rem;
    margin-left: 4rem;
  }
  li {
      list-style-type: decimal;
      list-style-position: outside;
  }
}

iframe {
  display: block;
  margin: 0 auto;
}