.navbar {
  position: fixed;
  top: 32px;
  right: 0;
  left: 0;
  background: #FFF;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  @include z-index('navbar');

  svg {
    position: relative;
    display: block;
    width: auto;
    height: 20px;
    transition: all 150ms ease;
  }

}


/* navbar interactions*/
.navbar__menu {
  float: left;
  position: relative;
  display: table;
}

.menu-toggle {
  float: left;
  border-right: 1px solid #f1f1f1;
  padding: 10px;
}
.sm-links {
  display: table-cell;
  vertical-align: middle;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
  svg {
    position: static;
    width: auto;
    height: 15px;
  }
}

.navbar__utils {
  display: table;
  float: right;
  position: relative;
  li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }
  a {
    display: block;
    padding: 10px;
  }
}
  .navbar__search {
    vertical-align: middle;
    .search-form {
      position: relative;
      &:focus, &:hover {
        .search-input {
          opacity: 1;
        }
      }
    }
    .search-input {
      border: 1px solid #DDD;
      padding: 8px 10px;
      opacity: 0;
      transition: all 150ms ease;


    }
    .search-submit {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      font-size: 0;
      opacity: 0;
    }
    svg {
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -10px;
      fill: #888;
      pointer-events: none;
    }
  }


/* center */
.navbar__brand {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  @include z-index('navbar-brand');
}
  .site-title {
    height: 100%;
    font-size: 2rem;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      color: #000;
    }
  }




