.container {
  width: 780px;
  max-width: 780px;
  margin: 0 auto;
  padding: 70px 0 0;
}

.content-col {
  max-width: 700px;
  margin: 0 auto;
  p {
    margin-bottom: 20px;
  }
}

.page__title {
  margin-bottom: 20px;
  font-size: 4.8rem;
}