.single__post {
  width: 780px;
  max-width: 780px;
  margin: 0 auto;
  padding: 70px 0 0 0;
}
  .single__title {
    margin-bottom: 20px;
    font-size: 4.8rem;
    a {
      color: #000;

      &:hover {
        color: $accent-hover;
      }
    }
  }

  .single__content {
    max-width: 700px;
    margin: 0 auto;
  }


  .single__author {
    position: relative;
    margin: 60px 0;
    border-top: 1px solid #ddd;
    padding-top: 60px;
    a:hover img {
      opacity: 1;
    }
    img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      display: block;
      border-radius: 50%;
      border: 1px solid #ddd;
      padding: 5px;
      background: #FFF;
      width: 100px;
      height: 100px;

    }
    h3 {
      text-align: center;
      a {
        color: #000;
        &:hover {
          color: $accent-hover;
        }
      }
    }
    p {
      width: 600px;
      margin: 20px auto;
    }
  }
    .author-links {
      text-align: center;

      svg {
        display: block;
        width: 15px;
        height: 15px;
        path {
          fill: #FFF;
        }
      }
    }
      .author-links__sm {
        li {
          display: inline-block;
          margin-right: 3px
        }
        a {
          display: inline-block;
          border-radius: 50%;
          padding: 8px;
          background: #000;
        }
      }




.rp4wp-related-posts {
  margin: 20px 0;
}

.rp4wp-related-posts ul {
  margin-right: -20px;
  font-size: 0;

  a {
    color: #000;
    &:hover {
      color: $accent-hover;
    }
  }
}
.rp4wp-related-posts ul>li{
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  padding-right: 20px;
  font-size: 1.4rem;
}
.rp4wp-related-posts ul>li>p{
  margin:0;
  padding:0;
}
.rp4wp-related-post-image{
  width: 100%;
}