.single__post {
  width: 780px;
  max-width: 780px;
  margin: 0 auto;
  padding: 70px 0 0 0;
}
  .single__title {
    margin-bottom: 20px;
    font-size: 4.8rem;
    a {
      color: #000;

      &:hover {
        color: $accent-hover;
      }
    }
  }

  .single__content {
    padding: 20px;
  }
